@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;

    .focus {
        display: flex;
        width: 100%;
        padding: 2rem;
        flex-flow: column nowrap;

        @media (max-width: 720px) {
            padding: 0.7rem;
            max-width: 100%;
            padding-bottom: 1.5rem;
        }
    }
}
.section {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;

    .capture {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.1;
    }
}

.themes {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.7em;
    gap: 1em;

    .item {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.4em;
        @include cursor(pointer);
        width: 10em;

        .overview {
            width: 10em;
            aspect-ratio: 16/10;
            border: 1px solid var(--color-stroke-secondary);
            border-radius: 0.4em;
            transition: border-color var(--transition);
            background-color: var(--color-surface-secondary);
            background-position: center;
            background-size: 100%;
            overflow: hidden;

            .img {
                width: 200%;
                max-width: 200%;
            }
        }
        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: .1em;
            padding: 0 0.2em;
        }
        .name {
            font-size: 0.6em;
            line-height: 1.2;
        }
        .description {
            font-size: 0.45em;
            line-height: 1.2;
            color: var(--color-text-description);
        }

        &:hover {
            .overview {
                border-color: var(--color-accent);
            }
        }
        &.active {
            .overview {
                border-color: var(--color-accent);
            }
        }
        @media (max-width: 720px) {
            width: 100%;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;

        .item .overview {
            width: 100%;
            height: 7em;
        }
    }
}