@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-stroke-secondary);
    
    .focus {
        display: flex;
        flex: 1;
        max-width: 60rem;
        width: 100%;
        min-height: 2rem;
        padding: 1rem 1rem;
        gap: 1em;
        align-items: center;
        flex-flow: row nowrap;
    }
}

.logo {
    font-size: 0.6em;
    font-weight: 600;
}
.sections {
    display: flex;
    flex-flow: row wrap;
    gap: 0.7em;
    font-size: 0.38em;
    width: 100%;
    overflow: hidden;

    .section {
        display: inline-flex;
        @include cursor(pointer);

        .title {
            padding: 0.6em 0.9em;
            border-radius: 1.2em;
            background-color: var(--color-surface-secondary);
            border: 1px solid var(--color-stroke-secondary);
            transition: background-color var(--transition), color var(--transition); 
        }
        &:hover {
            .title {
                background-color: var(--color-contrast);
                color: var(--color-leader);
            }
        }
    }
}
.status {
    display: inline-flex;
    align-items: center;

    .span {
        display: inline-flex;
        font-size: 0.37em;
        padding: 0.8em 0.8em;
        // background-color: var(--color-surface-secondary);
        white-space: nowrap;
        // border: 1px solid var(--color-stroke-secondary);
        border-radius: 1.8em;

        &.normal {
            color: var(--color-text-hint);
        }
        &.crytical {
            color: var(--color-red);
        }
        &.problem {
            color: var(--color-orange);
        }
    }
}
.switcher {
    display: flex;
    align-items: center;
    font-size: 1em;
}