@use '@/assets/styles/_mixins.scss' as *;

.container {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30rem;
    height: 10rem;

    .square {
        top: 0;
        left: 0;
        position: absolute;
        border-radius: .4em;
        background: linear-gradient(135deg, transparent, var(--color-leader));
        background-color: var(--color-surface-glass);
        // box-shadow: 0 0 .1em var(--color-contrast);

        &:nth-child(1) {
            width: 4rem;
            height: 4rem;
            transform: rotate(25deg);
        }
        &:nth-child(2) {
            top: .5rem;
            left: 1rem;
            width: 4.8rem;
            height: 4.8rem;
            transform: rotate(22deg);
        }
        &:nth-child(3) {
            top: 1.1rem;
            left: 2rem;
            width: 2.8rem;
            height: 2.8rem;
            transform: rotate(19deg);
        }
    }
}