@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    min-height: 100vh;

    .focus {
        display: inline-flex;
        flex: 1;
        width: 100%;
        max-width: 56rem;
        padding: 2rem 1.8rem;
        gap: 0.9rem;
        flex-flow: row nowrap;
        color: var(--color-text-primary);
    }
}


// Panel
.panel {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    gap: 0.2em;
    overflow: hidden;
    // background-color: var(--color-surface-primary);

    .sections {
        display: flex;
        flex-flow: column nowrap;
        gap: 0em;
        font-size: 0.4em;

        @mixin active-section() {
            background-color: var(--color-surface-primary);
            border-color: var(--color-stroke-primary);
            
            .icon .svg {
                fill: var(--color-text-primary);
            }
            .title {
                color: var(--color-text-primary);
            }
        }
        .section {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.8em;
            height: 2.4em;
            border: 1px solid transparent;
            border-radius: 0.4em;
            align-items: center;
            padding: 0.3em 0.6em;
            transition: background-color var(--transition), border-color var(--transition);
            cursor: pointer;

            .icon {
                display: inline-flex;

                .svg {
                    width: 1.2em;
                    height: 1.2em;
                    fill: var(--color-icon-primary);
                    transition: fill var(--transition);
                }
            }
            .title {
                font-size: 0.91em;
                @include text-ellipsis();
                color: var(--color-text-secondary);
                transition: color var(--transition);
            }
            &:hover, &.active {
                @include active-section();
            }
        }
    }
}

// Content
.content {
    display: flex;
    flex: 5;
}