@use '@/assets/styles/_mixins.scss' as *;

// Main header
.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-header);
    position: relative;

    .basic {
        display: flex;
        flex-flow: row nowrap;
        padding: 0em 1rem;
        height: 1.3em;
        gap: 0.4em;

        .logo {
            display: inline-flex;
            align-items: center;
            font-size: 0.6em;
            font-weight: 600;
            gap: 0.3em;
        }
        .inter {
            display: inline-flex;
            align-items: center;
            font-size: 0.5em;
            color: var(--color-surface-tertiary);
        }
        .info {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.3em;
            width: 100%;

            .company {
                display: inline-flex;
                flex-flow: row nowrap;
                gap: 0.7em;
                align-items: center;
                font-size: 0.44em;
                @include cursor(pointer);
                transition: margin-left var(--transition);

                .title {
                    color: var(--color-text-secondary);
                }
                .marker {
                    display: inline-flex;
                    align-items: center;
                    height: 1.7em;
                    padding: 0em 0.4em;
                    border-radius: 0.8em;
                    font-size: 0.7em;
                    background-color: var(--color-surface-secondary);
                    border: 0.1em solid var(--color-stroke-secondary);
                }
                .action {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.3em;
                    height: 1.3em;
                    background-color: var(--color-surface-secondary);
                    border-radius: 0.2em;
                    border: 0.1em solid var(--color-stroke-secondary);

                    .svg {
                        width: 60%;
                        height: 60%;
                        fill: var(--color-icon-primary);
                    }
                }
                &:hover {
                    margin-left: 0.3em;
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            font-size: 0.35em;

            .input {
                width: 8rem;
                transition: box-shadow var(--transition);

                &:focus {
                    box-shadow: 0 0 4px var(--color-contrast);
                }
            }
        }
        .actions {
            // border: 1px solid red;
            font-size: 0.35em;
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            align-items: center;

            .action.compact {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.7em;
                border-radius: 0.45em;
                height: 2.7em;
                background-color: var(--color-surface-secondary);
                border: 1px solid var(--color-stroke-secondary);
                transition: border-color var(--transition), background-color var(--transition);
                @include cursor(pointer);

                .svg {
                    width: 64%;
                    height: 64%;
                    fill: var(--color-icon-primary);
                    transition: fill var(--transition);
                }
                &:hover {
                    background-color: var(--color-contrast);

                    .svg {
                        fill: var(--color-leader);
                    }
                }
            }
        }
        .user {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 0.4em;
            gap: 1em;
            @include cursor(pointer);
            border-bottom: 2px solid transparent;
            transition: border-color var(--transition);
            padding: 0 0.4em;

            .info {
                display: inline-flex;
                flex-flow: row nowrap;
                gap: 3em;
                font-weight: 600;
                color: var(--color-text-secondary);
                @include text-ellipsis();
                max-width: 6rem;
            }
            .avatar {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .circle {
                    display: inline-flex;
                    width: 2.1em;
                    height: 2.1em;
                    border-radius: 50%;
                    background-color: var(--color-surface-secondary);
                    border: 1px solid var(--color-stroke-secondary);
                }
            }
            &:hover {
                border-color: var(--color-contrast);
            }
        }
    }
}

// Sections
.sections {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-stroke-secondary);
    display: block;
    overflow-x: scroll;
    @include no-scrollbar();
    padding: 0em 1rem;

    .grid {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.1em;
        font-size: 0.36em;

        .section {
            display: inline-flex;
            height: 3em;
            align-items: center;
            justify-content: start;
            padding: 0em;
            font-size: 0.97em;
            border-top: 0.2em solid transparent !important;
            border-bottom: 0.2em solid transparent;
            @include cursor(pointer);

            .title {
                display: inline-flex;
                padding: 0.5em 0.6em;
                border-radius: 0.3em;
                transition: background-color var(--transition);
            }

            transition: background-color var(--transition), border-color var(--transition), color var(--transition);

            &:hover {
                .title {
                    background-color: var(--color-surface-secondary);
                }
            }
            &.active {
                border-color: var(--color-contrast);
            }
        }
    }
}