@use '@/assets/styles/_mixins.scss' as *;

.overlay {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
}

// Primary canvas
.canvas {
    display: flex;
    flex: 1;
    z-index: 10;
    align-items: start;
    justify-content: start;
    flex-flow: column nowrap;
    background-color: #00000037;
    backdrop-filter: blur(6px);
    gap: 0.4em;
    padding: 2rem;
    

    .matrix {
        font-size: 1em;
        color: #ffffff;
    }
    .title {
        font-size: 1.2rem;
        color: #eee;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: 0.03em;

        .contrast {
            color: var(--color-brand);
        }
    }
    .overview {
        font-size: 0.4em;
        line-height: 1.3;
        color: #6f6f6f;
        width: 60%;

        .link {
            color: var(--color-text-hint);
            @include cursor(pointer);
        }
    }
}