.frame {
    display: inline-flex;
    font-size: 1em;
    flex-flow: row nowrap;
    gap: 0.2em;
    font-weight: 600;
    color: var(--color-text-primary);

    .o {
        color: var(--color-brand) !important;
    }

    &.classic {
        color: #ffffff;
    }
    &.invert {
        color: #000000;
    }
}