@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .focus {
        display: flex;
        width: 34rem;
        flex-flow: column nowrap;
        font-size: 0.7em;
        margin-bottom: 3rem;

        @media (max-width: 720px) {
            width: 100%;
        }
    }
}

.media {
    display: flex;
    justify-content: center;
    padding: 1em;

    .icon {
        display: inline-flex;
        width: 5em;
        height: 5em;
        position: relative;
        overflow: hidden;

        @keyframes show-svg {
            0% {
                opacity: 0;
                transform: scale(0.6);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
        .svg {
            width: 100%;
            height: 100%;
            fill: var(--color-accent);
            animation: show-svg 0.4s forwards;
        }
    }
    .img {
        height: 7em;

        @media (max-width: 720px) {
            width: 90%;
            height: auto;
        }
    }
}
.top {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2em; 
    align-items: center;
    font-size: 0.7em;
    padding: 1em;

    .capture {
        text-align: center;
        font-weight: 600;
        line-height: 1.2;
        font-size: .9em;
    }
    .description {
        text-align: center;
        font-size: 0.7em;
        line-height: 1.3;
        color: var(--color-text-description);
        width: 50%;

        @media (max-width: 720px) {
            width: 90%;
        }
    }
}
.content {
    display: flex;
    padding: 1em;
    border-top: 1px solid var(--color-stroke-secondary);
    flex-flow: column nowrap;
    font-size: 0.7em;
    gap: 1.2em;
    align-items: center;

    .sections {
        display: inline-flex;
        flex-flow: row wrap;
        gap: 2em 1em;
        font-size: 0.86em;
        justify-content: start;

        .col, .section {
            width: 14em;

            @media (max-width: 720px) {
                width: 100%;
            }
        }
        .col {
            display: inline-flex;
            flex-flow: column nowrap;
            gap: 1em;

            .title {
                font-size: .9em;
                color: var(--color-text-description);
            }
        }
        .section {
            display: inline-flex;
            flex-flow: row nowrap;
            gap: 1em;
            @include cursor(pointer);
            transition: margin-left var(--transition);

            .icon {
                display: inline-flex;
                width: 1.2em;
                min-width: 1.2em;
                align-items: center;
                justify-content: center; 

                .svg {
                    width: 1.2em;
                    height: 1.2em;
                    fill: var(--color-accent);
                }
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                gap: 0.2em;
                font-size: .9em;
            }
            .name {
                font-size: 1em;
                color: var(--color-accent);
                line-height: 1.2;
            }
            .description {
                font-size: .8em;
                color: var(--color-text-description);
                line-height: 1.2;
            }

            &:hover {
                margin-left: .5em;
            }
        }
    }
}
.actions {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2em 0em;
    font-size: .6em;
    background-color: var(--color-surface-primary);
    border-radius: .4em;
    overflow: hidden;

    .action {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        gap: 1em;
        padding: .8em .8em;
        transition: background-color var(--transition);
        border-bottom: 1px solid var(--color-stroke-secondary);

        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: var(--color-surface-secondary);
        }

        .icon {
            display: inline-flex;
            min-width: 3em;
            align-items: center;
            justify-content: center;

            .svg {
                width: 1.4em;
                height: 1.4em;
            }
        }
        .info {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.2em;
            justify-content: center;
            flex: 1;

            .description {
                font-size: .8em;
                color: var(--color-text-description);
            }
        }
        .steps {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1em;

            .step {
                border: none;
                border-radius: 2em;
                height: 2.5em;
                transition: transform var(--transition);

                &:hover {
                    transform: scale(1.06);
                }
            }
        }
    }
}
.guide {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: .54em;
    gap: 1.4em;

    .preview {
        display: inline-flex;
        width: 12em;
        height: 3.7em;
        border-radius: 1em;
        background-color: var(--color-surface-tertiary);
    }
    .base {
        display: inline-flex;
        width: 60%;
        flex-flow: row nowrap;
        align-items: center;

        .capture {
            line-height: 1.2;
            font-size: .9em;

            .secondary {
                color: var(--color-text-description);
            }
        }
        .action {
            width: 5em;
        }
    }
    @media (max-width: 720px) {
        .base {
            width: 100%;
        }
        .preview {
            width: 100%;
        }
    }
}