@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .focus {
        display: flex;
        width: 50rem;
        flex-flow: row nowrap;
        font-size: 0.7em;
        margin-bottom: 3rem;
        height: 28rem;
        gap: .5em;
        overflow: hidden;
    }
    @media (max-width: 720px) {
        padding: 0;

        .focus {
            width: 100%;
            flex-direction: column;
            height: fit-content;
        }
    }
}

// Info area
.col.info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    padding: 1em .5em;

    .icon {
        margin: 1em 0;
        width: 3em;
        height: 3em;
        overflow: hidden;
        position: relative;

        @keyframes animate-svg {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .svg {
            width: 3em;
            height: 3em;
            fill: var(--color-icon-primary);
            animation: animate-svg .4s forwards;

            &.accent {
                fill: var(--color-accent);
            }
            &.contrast {
                fill: var(--color-contrast);
            }
            &.default {
                fill: var(--color-text-primary);
            }
        }
    }
    .description {
        font-size: .55em;
        width: 90%;
        color: var(--color-text-description);
        line-height: 1.3;
    }
    .hint {
        font-size: .5em;
        padding: 1em;
        background-color: var(--color-surface-secondary);
        border-radius: .6em;
        border: 1px solid var(--color-stroke-secondary);
        margin: 2em 0;
        position: relative;
        overflow: hidden;
        @include cursor(pointer);
        
        .accent {
            color: var(--color-accent);
        }
        .text {
            font-size: 1em;
            line-height: 1.3;
        }
        .marker {
            position: absolute;
            z-index: 10;
            width: 6em;
            height: 6em;
            top: -3.5em;
            right: -3.5em;
            transform: rotate(-45deg);
            background: linear-gradient(135deg, #5C17D5, #04ffb4);
        }
    }
    .actions {
        display: flex;
        flex-flow: row nowrap;
        font-size: .6em;

        .action {
            height: 2.5em;
            border-radius: .9em;
            padding: 0 1.4em;
            transition: transform var(--transition);
            
            &:hover {
                transform: scale(1.04);
            }
        }
    }

    @media (max-width: 720px) {
        .description {
            width: 100%;
        }
        .actions {
            flex-direction: column;

            .action {
                width: 100%;
            }
        }
    }
}

// Inter line
.inter {
    display: inline-flex;

    .line {
        width: 1px;
        background-color: var(--color-stroke-primary);

        &.accent {
            background-color: var(--color-accent);
        }
    }

    @media (max-width: 720px) {
        .line {
            width: 100%;
            height: 1px;
        }
    }
}

// Content area
.col.content {
    display: block;
    overflow-y: scroll;
    flex: 1.4;
    font-size: .9em;
    padding: 0 .5em;
    overflow-x: hidden;

    .grid {
        display: flex;
        flex-flow: column nowrap;
    }
    .form {
        display: flex;
        flex-flow: column nowrap;
        margin: 1em 0;
        font-size: .64em;
        gap: 2em;
        
        .group {
            display: flex;
            gap: 1em;

            &.half {
                flex-flow: row wrap;

                .section {
                    flex: 1;
                    max-width: calc(50% - 1em);
                    min-width: calc(50% - 1em);
                }
            }
        }
        .section {
            display: flex;
            flex-flow: column nowrap;
            gap: .7em;

            .top {
                display: flex;
                flex-flow: row nowrap;
                gap: 1em;
            }
            .capture {
                display: flex;
                flex: 1;
                font-weight: 600;
                letter-spacing: .02em;
                flex-flow: row wrap;
                line-height: 1.2;
                gap: .2em;
                font-size: .9em;

                .secondary {
                    color: var(--color-text-description);
                    display: none;
                }
            }
            .input {
                transition: box-shadow var(--transition);
            }
            .input:focus {
                border: 2px solid var(--color-accent);
                box-shadow: 0 0 5px var(--color-accent);
            }
            .status {
                display: inline-flex;
                flex-flow: row nowrap;
                gap: .7em;
                font-size: .9em;

                .icon {
                    display: inline-flex;
                    align-items: start;
                    justify-content: center;

                    .circle {
                        display: flex;
                        width: 1.3em;
                        height: 1.3em;
                        background-color: var(--color-blue);
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;

                        .svg {
                            width: .7em;
                            height: .7em;
                            fill: var(--color-accent-text-primary);
                        }
                    }
                }
                .text {
                    display: flex;
                    align-items: center;
                    line-height: 1.2;
                    color: var(--color-blue);
                }
                &.error {
                    .icon .circle {
                        background-color: var(--color-red);
                    }
                    .text {
                        color: var(--color-red);
                    }
                }
            }
            .description {
                font-size: .88em;
                line-height: 1.2;
                color: var(--color-text-description);
            }
        }
    }

    @media (max-width: 720px) {
        overflow: auto;
    }
}


// General
.col.content, .col.info {

    @keyframes show-title {
        0% {
            opacity: 0;
            margin-left: -2em;
        }
        100% {
            opacity: 1;
            margin-left: 0;
        }
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    h1, h2, h3 {
        line-height: 1;
        
        &:nth-child(1) {
            animation: show-title .4s forwards;
        }
    }

    &.start {
        justify-content: start;
    }
    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: end;
    }
}