@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    min-height: 100vh;

    .focus {
        display: inline-flex;
        flex: 1;
        width: 100%;
        max-width: 90rem;
        padding: 2rem 1.8rem;
        gap: 2rem;
        flex-flow: column nowrap;
        color: var(--color-text-primary);
    }
}

// NavBar
.navBar {
    display: flex;
    // background-color: var(--color-surface-secondary);
    flex-flow: column nowrap;
    font-size: 1em;
    gap: 1em;

    .basic {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;

        .title {
            line-height: 1.2;
            max-width: 20rem;
        }
    }
    .sections {
        display: block;
        overflow-x: scroll;
        @include no-scrollbar();

        .grid {
            display: flex;
            flex-flow: row nowrap;
            font-size: 0.38em;
            gap: 0.5em;

            @mixin active-section() {
                color: var(--color-text-primary);
                border-color: var(--color-contrast);

                .icon .svg {
                    fill: var(--color-text-primary);
                }
            }
            .section {
                display: flex;
                padding: 0.1em 1em 0.1em 0.5em;
                flex-flow: row nowrap;
                gap: 0.7em;
                border-radius: 0.3em;
                color: var(--color-text-description);
                @include cursor(pointer);
                // background-color: var(--color-surface-elevated);
                border-bottom: 0.3em solid var(--color-surface-secondary);
                transition: color var(--transition), border-color var(--transition), background-color var(--transition);

                .icon {
                    display: inline-flex;
                    align-items: center;

                    .svg {
                        width: 1.13em;
                        fill: var(--color-icon-primary);
                        transition: fill var(--transition);
                    }
                }
                .title {
                    display: inline-flex;
                    align-items: center;
                }

                &.active {
                    @include active-section();
                }
                &:hover {
                    background-color: var(--color-surface-secondary);
                }
            }
        }
    }
}