@use '@/assets/styles/_mixins.scss' as *;

.switcher {
    display: inline-flex;
    height: 1em;
    border-radius: 2em;
    border: 1px solid var(--color-stroke-secondary);
    background-color: var(--color-surface-secondary);
    flex-flow: row nowrap;
    gap: 0em;
    overflow: hidden;

    .box {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color var(--transition), background-color var(--transition);

        .svg {
            width: 40%;
            fill: var(--color-icon-primary);
        }

        &.active {
            border: 1px solid var(--color-stroke-secondary);

            svg {
                fill: var(--color-contrast);
            }
        }
        &:hover {
            border-color: var(--color-surface-secondary);
            background-color: var(--color-surface-glass);
        }
    }
}