@use '@/assets/styles/_mixins.scss' as *;

.container {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2rem;
    overflow: hidden;
    border-bottom: 1px solid var(--color-stroke-primary);
    background-color: var(--color-leader);

    .grid {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 120;
        flex-flow: row nowrap;
        gap: 2em;
        font-size: 0.6em;
        padding: 0 0.4rem;

        @media (max-width: 720px) {
            gap: 0.4em;
            padding: 0 0.5rem;
        }
    }
    
    .el {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 40%;
        height: 100%;
        background: #7384EC;
        background: linear-gradient(90deg, transparent, var(--color-accent-glass), transparent);
        display: none;
    }
}

// Sections
.logo {
    display: inline-flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5em;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-family: 'SF Mono Latin', sans-serif;
    padding-right: 0em;
    padding-left: 0.2em;

    .icon {
        width: 0.9em;
        height: 0.9em;
        border-radius: 0.2em;
    }
    .name {
        padding-top: 0.05em;
    }
}

// Account
.account {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.7em;
    font-size: 0.8em;
    align-items: center;
    @include cursor(pointer);

    .icon {
        display: inline-flex;
        align-items: center;

        .label {
            width: 2.05em;
            height: 2.05em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-blue);
            color: #fff;
            font-size: 0.85em;
            font-weight: 600;
        }
    }
    .name {
        font-size: 0.9em;
        letter-spacing: 0.01em;
        @include text-ellipsis();
    }
    .action {
        display: inline-flex;
        align-items: center;

        .svg {
            width: 0.6em;
            height: 0.6em;
            transform: rotate(90deg);
            fill: var(--color-icon-primary);
        }
    }
}

// Org workspace
.workspace {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.7em;
    font-size: 0.8em;
    align-items: center;
    @include cursor(pointer);

    .icon {
        display: inline-flex;
        align-items: center;

        .label {
            width: 1.5em;
            height: 1.5em;
            border-radius: 0.3em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-accent);
            color: #fff;
            font-size: 0.8em;
            font-weight: 600;
        }
    }
    .name {
        font-size: 0.9em;
        letter-spacing: 0.01em;
        @include text-ellipsis();
    }
    .action {
        display: inline-flex;
        align-items: center;

        .svg {
            width: 0.6em;
            height: 0.6em;
            transform: rotate(90deg);
            fill: var(--color-icon-primary);
        }
    }
}

// sections 
.sections {
    display: inline-flex;
    flex-flow: row nowrap;
    font-size: 0.64em;
    color: var(--color-text-secondary);
    gap: 1.4em;

    .section {
        display: inline-flex;
        align-items: center;
        @include cursor(pointer);
        transition: color var(--transition);
        white-space: nowrap;

        &:hover, &.active {
            color: var(--color-accent);
        }
    }
    @media (max-width: 720px) {
        display: none;
    }
}

// Actions
.actions {
    display: flex;
    flex: 1;
    font-size: 0.55em;
    flex-flow: row nowrap;
    gap: 0.4em;
    justify-content: end;
    align-items: center;

    .action.invite {
        border-radius: 2em;
        height: 2.9em;
        flex-flow: row nowrap;
        gap: 0.5em;
        font-weight: 600;

        .svg {
            width: 1em;
            height: 1em;
            fill: var(--color-icon-primary);
        }
        @media (max-width: 720px) {
            display: none;
        }
    }
}

// Search
.search {
    position: fixed;
    height: 1.6rem;
    top: 0.2rem;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    left: calc(50% - 15vw);
    border: 1px solid var(--color-stroke-secondary);
    border-radius: 0.4em;
    background-color: var(--color-surface-secondary);
    display: flex;
    flex-flow: row nowrap;
    gap: 0em;
    overflow: hidden;
    
    .shortcut {
        display: inline-flex;
        font-weight: 600;
        color: var(--color-text-description);
        border: 1px solid var(--color-stroke-secondary);
        border-radius: 0.3em;
        padding: 0.3em;
        margin: 0 0 0 0.5em;
        background-color: var(--color-surface-secondary);
    }
    .input {
        height: 1.6rem;
        width: 100%;
        border: none;
        background-color: none;
    }

    @media (max-width: 720px) {
        display: none;
    }
}