@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    border-radius: 0.8em;
    gap: 1px;
    flex-flow: column nowrap;
    background-color: var(--color-stroke-secondary);
    overflow: hidden;

    .capture {
        padding: 1em;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.03em;
        background-color: var(--color-surface-primary);
    }
    .grid {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.6em;
        // border: 1px solid var(--color-stroke-secondary);
        background-color: var(--color-surface-primary);
        padding: 0.2em;
    }
}