@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 1rem;
}

// Head
.header {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    max-width: calc(100% - 5rem);

    .back {
        display: inline-flex;
        align-items: start;

        .circle {
            display: inline-flex;
            width: 1.5em;
            height: 1.5em;
            font-size: 0.8em;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: var(--color-surface-primary);
            @include cursor(pointer);
            @include animated-block();
            transition: background-color var(--transition);

            .svg {
                width: 28%;
                height: 28%;
                fill: var(--color-icon-primary);
                transform: rotate(-180deg);
                margin-right: 0.05em;
            }
            &:hover {
                background-color: var(--color-surface-secondary);
            }
        }
    }
    .info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.4em;

        .title {
            font-size: 0.7em;
            font-weight: 600;
            letter-spacing: 0.04em;
            line-height: 1.2;

            .secondary {
                color: var(--color-text-description);
            }
        }
        .description {
            font-size: 0.4em;
            line-height: 1.3;
            color: var(--color-text-description)
        }
    }
}

// Content
.content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    font-size: 0.4em;
    gap: 1em;
    padding-left: 5em;
    padding-right: 5rem;

    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        background-color: var(--color-surface-primary);
        border: 1px solid var(--color-stroke-primary);
        padding: 1em;
        border-radius: 0.5em;

        .capture {
            color: var(--color-text-primary);
        }
        .description {
            font-size: 0.8em;
            color: var(--color-text-description);
        }
        .textarea {
            min-height: 10em;
            resize: vertical;
        }
    }

    .section.permissions {
        .search {
            display: flex;
            position: relative;
            font-size: 0.9em;

            .input {
                display: flex;
                width: 100%;
            }
            .modal {
                position: absolute;
                z-index: 100;
                bottom: 0rem;
                left: 0.5rem;
                width: 20rem;
                background-color: var(--color-surface-secondary);
                border: 1px solid var(--color-stroke-primary);
                box-shadow: 0 0 0.3em var(--color-contrast);
                overflow-y: scroll;
                border-radius: 0.5em;
                opacity: 0;
                height: 0;
                transition: opacity var(--transition), height var(--transition), bottom var(--transition);

                .grid {
                    display: flex;
                    flex-flow: column nowrap;

                    .item {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 0.1em;
                        cursor: pointer;
                        transition: background-color var(--transition);
                        padding: 1em;
                        border-bottom: 1px solid var(--color-stroke-primary);

                        .title {
                            font-size: 1.1em;
                            line-height: 1.2;
                            color: var(--color-blue);
                        }
                        .description {
                            font-size: 0.9em;
                            line-height: 1.3;
                        }
                        &:hover {
                            background-color: var(--color-surface-glass);
                        }
                    }
                }
                &.showed {
                    opacity: 1;
                    height: 10rem;
                    bottom: -10.5rem;
                }
            }
        }
        .activePermissions {
            display: flex;
            flex-flow: column nowrap;
            gap: 1px;
            background-color: var(--color-stroke-secondary);
            border-radius: 0.5em;
            overflow: hidden;

            .permission {
                display: flex;
                flex-flow: row nowrap;
                gap: 1em;
                font-size: 0.96em;
                padding: 0.6em;
                background-color: var(--color-leader);

                .info {
                    display: flex;
                    width: 100%;
                    flex-flow: column nowrap;
                    gap: 0.4em;

                    .id {
                        font-weight: 600;
                        letter-spacing: 0.03em;
                        color: var(--color-blue);
                    }
                    .about {
                        font-size: 0.8em;
                    }
                }
                .actions {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    gap: 1em;
                    align-items: center;
                    font-size: 0.87em;

                    .action {
                        transition: background-color var(--transition);

                        &:hover {
                            background-color: var(--color-red);
                        }
                    }
                }
            }
        }
    }
}