@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    gap: 0 0;
    min-height: 100vh;
    position: relative;

    .content {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
}