@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 3rem;
    background-color: var(--color-leader);
    border-radius: 0.4rem;
    min-height: calc(100vh - 1rem);

    @media (max-width: 720px) {
        margin-right: 0rem;
        font-size: 0.8em;
    }
}