@use '@/assets/styles/_mixins.scss' as *;

.container {
    position: sticky;
    display: flex;
    width: 12rem;
    max-width: 12rem;
    height: 100vh;
    background-color: var(--color-surface-secondary);
    flex-flow: column nowrap;
    gap: 0;
    overflow: hidden;
    padding-bottom: 3rem;
    top: 0px;

    .label {
        display: flex;
        align-items: start;
        justify-content: end;
        flex-flow: column nowrap;
        padding: 1rem 1rem;

        .matrix {
            font-size: 0.7em;
            font-weight: 600;
            color: var(--color-text-primary);
        }
    }

    .company {
        display: block;
        padding: 0rem 0.7rem;
        height: 4.5rem;
        overflow: hidden;

        @keyframes show-label {
            0% {
                margin-top: 2rem;
                opacity: 0;
            }
            100% {
                margin-top: 0;
                opacity: 1;
            }
        }
        .label {
            width: 100%;
            height: 4.5rem;
            background-color: var(--color-surface-glass);
            border-radius: 0.6rem;
            position: relative;
            @include cursor(pointer);
            opacity: 0;
            animation: show-label 0.3s forwards;
            transition: background-color var(--transition), margin-left var(--transition);

            .info {
                position: absolute;
                z-index: 10;
                bottom: 0px;
                left: 0px;
                width: 100%;
                font-size: 0.5em;
                display: flex;
                flex-flow: column nowrap;
                gap: 0.2em;
                padding: 0.5rem 0.8rem;
                overflow: hidden;

                .counter {
                    font-size: 1.5em;
                    margin-bottom: 0.2em;
                    font-weight: 600;
                    color: var(--color-brand);

                    .secondary {
                        color: var(--color-text-description);
                        font-size: 0.5em;
                    }
                }
                .name {
                    font-weight: 600;
                    letter-spacing: 0.02em;
                }
                ._meta {
                    font-size: 0.8em;
                }
            }
            &:hover {
                background-color: var(--color-surface-tertiary);
                margin-left: 0.2rem;
            }
        }
    }

    .sections {
        display: block;
        overflow-y: scroll;
        max-height: 22rem;
        @include no-scrollbar();
        border-top: 1px solid var(--color-surface-overlay);
        border-bottom: 1px solid var(--color-surface-overlay);
        margin: 1rem 0;

        .grid {
            display: flex;
            flex-flow: column nowrap;
            gap: 0em;
            font-size: 0.37em;
            overflow: hidden;
        }

        .section {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.7em;
            padding: 0 0.9rem;
            height: 2.3rem;
            overflow: hidden;
            transition: background-color var(--transition);
            @include cursor(pointer);

            .icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .svg {
                    width: 1.6em;
                    height: 1.6em;
                    fill: var(--color-icon-primary);
                }
            }
            .info {
                display: flex;
                justify-content: center;
                flex-flow: column nowrap;
                overflow: hidden;
                gap: 0.3em;

                .title, ._meta {
                    @include text-ellipsis();
                }
                .title {
                    font-weight: 600;
                    letter-spacing: 0.03em;
                }
                ._meta {
                    font-size: 0.8em;
                    color: var(--color-text-description);
                }
            }

            &:hover {
                background-color: var(--color-surface-overlay);
            }
        }
    }

    .widgets {
        display: flex;
        flex-flow: row wrap;
        gap: 0.4rem;
        padding: 0rem 0.4rem;

        .widget {
            display: flex;
            min-height: 2.4rem;
            background-color: var(--color-surface-overlay);
            border-radius: 0.5rem;
            width: calc(50% - 0.2rem);
        }
    }

    .account {
        display: flex;
        flex-flow: column nowrap;
        padding: 0rem;
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 0px;
        left: 0px;

        .personality {
            font-size: 0.4em;
            display: flex;
            flex-flow: row nowrap;
            gap: 0.8em;
            padding: 1em 1em;
            overflow: hidden;
            // border-radius: .5em;
            // background-color: var(--color-surface-overlay);
            background-color: var(--color-surface-secondary);
            @include cursor(pointer);

            .avatar {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
                .picture {
                    display: inline-flex;
                    width: 2.4em;
                    height: 2.4em;
                    background-color: var(--color-surface-tertiary);
                    border: 1px solid var(--color-stroke-primary);
                    border-radius: 50%;
                }
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                align-items: start;
                justify-content: center;
                gap: 0.2em;
                overflow: hidden;

                .name {
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    @include text-ellipsis();
                }
                ._meta {
                    font-size: 0.8em;
                    color: var(--color-text-description);
                    @include text-ellipsis();
                }
            }
        }
    }

    .upgrade {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1em;
        font-size: 0.4em;
        padding: 1rem 1rem;
        background-color: var(--color-purple);
        color: #ffffff;
        cursor: pointer;

        .primary {
            font-size: 1.4em;
        }
    }
}