@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    min-height: 200vh;

    .focus {
        display: inline-flex;
        width: 50rem;
        padding: 3rem 2rem;
        flex-flow: column nowrap;
    }
}

// Basic
$animation-time: 0.6s;

// Title
@keyframes show-title {
    0% {
        padding-top: 2rem;
        opacity: 0;
    }
    100% {
        padding-top: 1rem;
        opacity: 1;
    }
}
.title {
    font-size: 0.9em;
    font-weight: 600;
    padding: 1rem 0rem;
    height: 3.6rem;
    overflow: hidden;
    animation: show-title $animation-time forwards;

    .secondary {
        color: grey;
    }
}

// Topics
.topics {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6em;

    .capture {
        font-size: 0.4em;
    }
    .items {
        display: flex;
        flex-flow: row wrap;
        gap: 0.3em;


        .col {
            display: flex;
            flex-flow: column nowrap;
            width: 13rem;
            gap: 0.3em;
            overflow: hidden;
        }

        @keyframes show-topic {
            0% {
                margin-left: -1rem;
                opacity: 0;
            }
            100% {
                margin-left: 0rem;
                opacity: 1;
            }
        }
        .topic {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.2em;
            padding: 1rem;
            width: 13rem;
            background-color: var(--color-surface-secondary);
            border-radius: 0.23em;
            animation: show-topic $animation-time forwards;
            animation-delay: calc($animation-time - 0.3s);
            opacity: 0;
            margin-left: -1rem;
            transition: transform var(--transition);
    
            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: calc($animation-time - 0.3s) + ($i - 1) * 0.1s;
                }
            }

            .info {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                overflow: hidden;
                gap: 0.2em;

                .name {
                    font-size: 0.5em;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    @include text-ellipsis();
                }
                ._meta {
                    font-size: 0.37em;
                    color: var(--color-text-description);
                    line-height: 1.2;
                }
                .link {
                    display: inline-flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: 0.2em;
                    @include cursor(pointer);

                    .text {
                        display: flex;
                        font-size: 0.3em;
                        color: var(--color-text-hint);
                    }
                    .icon {
                        display: inline-flex;
                        justify-content: center;

                        .svg {
                            width: 0.2em;
                            height: 0.2em;
                            fill: var(--color-text-hint);
                        }
                    }
                }
            }
            .actions {
                display: flex;
                flex-flow: column nowrap;
                gap: 0.2em;

                .action {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 0.8em;
                    height: 0.8em;
                    background-color: var(--color-surface-tertiary);
                    border-radius: 0.15em;
                    @include cursor(pointer);
                    transition: transform var(--transition);
                    
                    .svg {
                        width: 0.4em;
                        fill: var(--color-contrast);
                    }
                }
            }

            &.contrast {
                background-color: var(--color-contrast);
                color: var(--color-contrast-text-primary);

                .info ._meta {
                    color: var(--color-contrast-text-description);
                }
            }
            &:hover {
                transform: scale(1.02);

                .actions .action {
                    transform: scale(1.04);
                }
            }
        }
    }
}