@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 2rem 1rem;

    .focus {
        display: flex;
        width: 100%;
        max-width: 50rem;
        flex-flow: column nowrap;
        font-size: .7em;
        gap: 1em;
    }

    @media (max-width: 720px) {
        padding: 1rem .5rem 2rem .5rem;
    }
}

// Search Org
.search {
    display: flex;
    font-size: .6em;

    .input {
        transition: box-shadow var(--transition);

        &:focus {
            border-color: var(--color-accent);
            box-shadow: 0 0 5px var(--color-accent);
        }
    }
}

// Org plans
.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 1em;

    .item {
        display: flex;
        width: calc(25% - .75em);
        min-height: 7em;
        background-color: var(--color-surface-primary);
        border: 1px solid var(--color-stroke-primary);
        border-radius: .4em;
        @include cursor(pointer);
        flex-flow: column nowrap;
        padding: .5em;
        gap: .3em;
        transition: transform var(--transition);

        // Org label
        .base {
            display: flex;
            flex-flow: row nowrap;
            gap: .4em;

            .icon {
                display: inline-flex;
                align-items: start;
                justify-content: start;

                .square {
                    width: 1.7em;
                    height: 1.7em;
                    background-color: var(--color-surface-secondary);
                    border: 1px solid var(--color-stroke-secondary);
                    border-radius: .25em;
                    background-size: cover;
                    background-position: center;
                }
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                gap: .3em;
                font-size: .7em;

                .description {
                    font-size: .7em;
                    line-height: 1.2;
                    color: var(--color-text-description);
                }
            }
        }

        .inter {
            display: flex;
            flex-flow: column nowrap;

            .line {
                width: 100%;
                height: 1px;
                background-color: var(--color-stroke-secondary);
            }
        }

        .access {
            font-size: .5em;
            line-height: 1.2;
            display: flex;
            flex-flow: row nowrap;
            gap: .6em;

            .icon {
                display: inline-flex;
                align-items: start;
                justify-content: start;

                .square {
                    width: 2em;
                    height: 2em;
                    border-radius: .3em;
                    border: 1px solid var(--color-stroke-secondary);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .svg {
                        width: 70%;
                        height: 70%;
                        fill: var(--color-icon-primary);
                    }
                }
            }
            .info {
                display: flex;
                flex-flow: column nowrap;
                gap: .3em;
                font-size: .94em;
                justify-content: center;
            }
        }

        // Tariff
        .tariff {
            display: flex;
            flex-flow: column nowrap;
            font-size: .45em;
            gap: .5em;

            .capture {
                display: flex;
                gap: .6em;
                font-size: 1.1em;
                font-weight: 600;
                color: var(--color-accent);
                flex-flow: row wrap;
                align-items: end;
                
                .trial {
                    font-size: .9em;
                    font-weight: 400;
                    color: var(--color-text-description);
                }
            }
            .period {
                display: flex;
                flex-flow: row nowrap;
                gap: 1px;
                height: 1em;
                border-radius: 1em;
                background-color: var(--color-leader);
                overflow: hidden;

                .point {
                    display: flex;
                    flex: 1;
                    transition: background-color var(--transition);

                    &.active {
                        background-color: var(--color-accent);
                    }
                }
            }
        }

        // Org actions
        .actions {
            display: flex;
            flex-flow: row nowrap;
            gap: .7em;
            font-size: .5em;
            margin-top: .4em;

            .link {
                width: 50%;
            }
            .action {
                display: flex;
                flex: 1;
                height: 2.5em;
                transition: transform var(--transition);
                border-radius: .9em;
                padding: 0 1.4em;
            }
        }


        &:hover {
            transform: translateY(-.4em);
        }
    }
    @media (max-width: 720px) {

        .item {
            width: 100%;
        }
    }
}