@use '@/assets/styles/_mixins.scss' as *;

.title {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2;

    .name {
        color: var(--color-text-secondary);
    }
}
.sections {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.45em;
    margin: 1em 0;
    border-bottom: 1px solid var(--color-stroke-secondary);

    .title {
        font-size: 1.2em;
        padding: 1em 0.5em;
    }
    .item {
        display: flex;
        flex-flow: row nowrap;
        height: 4em;
        gap: 1em;
        padding: 0.5em 0.5em;
        // border-bottom: 1px solid var(--color-stroke-secondary);
        border-top: 1px solid var(--color-stroke-secondary);
        // background-color: var(--color-surface-glass);
        transition: background-color var(--transition);
        @include cursor(pointer);

        .icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .frame {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                border-radius: 0.2em;

                .svg {
                    width: 70%;
                    height: 70%;
                    fill: var(--color-icon-primary);
                }
            }
        }
        .info {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            gap: 0.1em;
            line-height: 1.3;
            justify-content: center;

            .capture {
                font-weight: 600;
            }
            .description {
                font-size: 0.7em;
                color: var(--color-text-description);
                
                &.success {
                    color: var(--color-blue);
                }
            }
        }
        .value {
            display: inline-flex;
            align-items: center;
            font-size: 0.9em;

            &.text {
                font-weight: 600;
                color: var(--color-blue);
            }
        }
        &:hover {
            background-color: var(--color-surface-secondary);
        }

        @media (max-width: 720px) {
            flex-direction: column;
            height: auto;

            .icon {
                justify-content: start;
            }
            .value {
                display: flex;

                .input {
                    display: flex;
                    flex: 1;
                }
            }
        }
    }
}
.afterword {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.35em;
    height: 3rem;
    color: var(--color-text-description);
}