@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 0.5rem;

    .search {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.7em;
        font-size: 0.37em;

        .input {
            flex: 1;
        }
    }
    .roles {
        display: flex;
        font-size: 0.4em;
        flex-flow: column wrap;
        gap: 0.5em;
    }
}

// Role
.role {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.4em;
    // height: 4em;
    background-color: var(--color-surface-primary);
    border: 1px solid var(--color-stroke-primary);
    border-radius: 0.6em;
    overflow: hidden;
    transition: background-color var(--transition);
    @include cursor(pointer);

    .info {
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.3em;
        padding: 1em;

        .name {
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 0.03em;
            @include text-ellipsis();
        }
        .description {
            font-size: 0.8em;
            color: var(--color-text-description);
            @include lines-ellipsis(2);
        }
    }
    .stats {
        display: flex;
        flex-flow: row nowrap;
        width: 10rem;
        background-color: var(--color-stroke-primary);

        .stat {
            display: inline-flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 1em;
            gap: 0.2em;

            .value {
                font-size: 1.4em;
            }
            .title {
                font-size: 0.9em;
            }
        }
    }
    &:hover {
        background-color: var(--color-surface-secondary);
    }
}