@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 0.5rem;
    border: 1px solid var(--color-stroke-secondary);
    border-radius: 0.2em;
}