@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    .capture {
        display: flex;
        flex: 1;
        font-weight: 600;
        letter-spacing: .02em;
        flex-flow: row wrap;
        line-height: 1.2;
        gap: .2em;
        font-size: 1.2em;

        .secondary {
            color: var(--color-text-description);
            display: none;
        }
    }
    .status {
        display: inline-flex;
        flex-flow: row nowrap;
        gap: .7em;
        font-size: .9em;

        .icon {
            display: inline-flex;
            align-items: start;
            justify-content: center;

            .circle {
                display: flex;
                width: 1.3em;
                height: 1.3em;
                background-color: var(--color-blue);
                border-radius: 50%;
                align-items: center;
                justify-content: center;

                .svg {
                    width: .7em;
                    height: .7em;
                    fill: var(--color-accent-text-primary);
                }
            }
        }
        .text {
            display: flex;
            align-items: center;
            line-height: 1.2;
            color: var(--color-blue);
        }
        &.error {
            .icon .circle {
                background-color: var(--color-red);
            }
            .text {
                color: var(--color-red);
            }
        }
    }
}
.pricing {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    font-size: .93m;
    padding: 0 .2em;

    .info {
        display: flex;
        flex-flow: row nowrap;
        gap: .4em;
        align-items: end;

        .total {
            display: flex;
            flex-flow: row nowrap;
            gap: .2em;
            font-size: 1.6em;
            font-weight: 600;
            align-items: end;
            flex: 1;

            .currency {
                font-size: .7em;
                padding: .1em 0;
                color: var(--color-text-description);
            }
        }
        .period {
            font-size: 1.4em;
            font-weight: 600;
            padding: .1em 0;
            letter-spacing: .02em;
            color: var(--color-text-description);
        }
    }
}
.inter {
    display: flex;
    flex-flow: column nowrap;

    .line {
        height: 1px;
        background-color: var(--color-stroke-secondary);
    }
}
.plans {
    display: block;
    overflow-x: scroll;
    padding: .8em .2em;

    .grid {
        display: inline-flex;
        gap: 1em;
        flex-flow: row nowrap;

        .item {
            width: 10em;
            min-width: 10em;
            height: 11em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            padding: 1.4em .9em;
            border-radius: 1em;
            background-color: var(--color-surface-tertiary);
            border: 1px solid var(--color-stroke-secondary);
            @include cursor(pointer);
            position: relative;
            gap: .5em;
            overflow: hidden;
            transition: border-color var(--transition), transform var(--transition), border-width var(--transition);

            .marker {
                position: absolute;
                z-index: 10;
                top: .6em;
                right: .6em;
                width: 1.6em;
                height: 1.6em;
                border-radius: 50%;
                border: 2px solid var(--color-contrast);
                transition: background-color var(--transition);
                display: flex;
                align-items: center;
                justify-content: center;

                .svg {
                    width: 60%;
                    height: 60%;
                    opacity: 0;
                    fill: var(--color-contrast);
                    transition: opacity var(--transition), fill var(--transition);
                }
            }
            .price {
                font-size: 1.1em;
                line-height: 1.1;

                .period {
                    display: block;
                    width: 100%;
                    font-size: .9em;
                    color: var(--color-text-description);
                }
            }
            .name {
                font-size: 1.3em;
                font-weight: 600;
                letter-spacing: .02em;
            }
            .actions {
                position: absolute;
                z-index: 10;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: .6em;
                display: flex;
                flex-flow: column nowrap;
                font-size: .84em;

                .action {
                    height: 2.5em;
                    border-radius: 1.5em;
                    border: none;
                }
            }
            &.selected {
                border-color: var(--color-contrast);
                // border-width: 2px;

                .marker {
                    background-color: var(--color-contrast);

                    .svg {
                        opacity: 1;
                        fill: var(--color-contrast-text-primary);
                    }
                }
                &:hover {
                    border-color: var(--color-contrast) !important;
                }
            }
            &.trial {
                .triangle {
                    position: absolute;
                    width: 4em;
                    height: 4em;
                    bottom: -2em;
                    right: -2em;
                    transform: rotate(-45deg);
                    z-index: 5;
                    opacity: 1;
                    background: linear-gradient(315deg, #E46843, #D4229B);
                }
            }

            &:hover {
                transform: scale(1.02);
                border-color: var(--color-stroke-primary);
            }
        }
    }
    @media (max-width: 720px) {
        overflow: auto;

        .grid {
            flex-flow: row wrap;
            gap: 1em;
            height: fit-content;
        }
    }
}