@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 1rem;
    border-radius: 0.7em;
    padding: 1em;

    .control {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5em;

        .action {
            width: 1.3em;
            height: 1.3em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: transform var(--transition);
            border-radius: 0.1em;
            @include cursor(pointer);

            .svg {
                width: 60%;
                height: 60%;
                fill: var(--color-icon-primary);
                transition: fill var(--transition);
            }
            &.left{
                .svg {
                    rotate: -180deg;
                }
            }
            &:hover {
                transform: scale(1.02);

                .svg {
                    fill: var(--color-contrast);
                }
            }
        }
    }
    .calendar {
        display: flex;
        flex-flow: row wrap;
        gap: 0.3em;

        .day {
            width: 2em;
            height: 2em;
            border-radius: 0.3em;
            background-color: var(--color-surface-secondary);
            @include cursor(pointer);
            border: 1px solid transparent;
            transition: border-color var(--transition);

            &.min {
                background-color: rgba(26, 233, 26, 0.169);
            }
            &.mid {
                background-color: rgba(26, 233, 26, 0.52);
            }
            &.max {
                background-color: rgb(15, 196, 15);
            }
            &:hover {
                border-color: var(--color-stroke-secondary);
            }
            &.active {
                border-color: var(--color-contrast);
            }
        }
    }
    .current {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.2em;
        
        .plug {
            font-size: 0.8em;
            color: var(--color-text-description);
        }
        .date {
            font-size: 0.9em;
            margin-bottom: 0.3em;
        }
        .hours {
            font-size: 1.4em;
            font-weight: 600;
            letter-spacing: 0.02em;

            .secondary {
                font-size: 0.9em;
                // color: var(--color-text-description);
            }
        }
        .deviation {
            font-size: 0.88em;
            color: var(--color-text-description);
        }
        ._meta {
            margin-top: 1em;
            font-size: 0.8em;
            color: var(--color-blue);
        }

        .positive {
            color: var(--color-green);
        }
        .negative {
            color: var(--color-red)
        }
        .normal {
            color: var(--color-blue);
        }
    }
}
