@use '@/assets/styles/_mixins.scss' as *;

@keyframes show-bar {
    0% {
        left: -2rem;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.container {
    position: fixed;
    z-index: 90;
    left: -2rem;
    top: 0;
    height: 100vh;
    width: 2.5rem;
    background-color: var(--color-surface-primary);
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    animation: show-bar 0.2s forwards;
    border-right: 1px solid var(--color-stroke-primary);
    
    .grid {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        background-color: var(--color-surface-glass-secondary);
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: 20;
        position: relative;
        // padding: 0.6em 0;

        .box {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
            height: 2rem;
            @include cursor(pointer);
            gap: 0.15em;

            .svg {
                width: 0.65em;
                height: 0.65em;
                fill: var(--color-icon-primary);
                transition: fill var(--transition);
            }
            .img {
                width: 2.3rem;
                border-radius: 0em;
            }
            .capture {
                font-size: 0.27em;
            }
            &:hover {
                .svg {
                    fill: var(--color-icon-active);
                }
            }
        }
    }
    .el {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #7384EC;
        background: linear-gradient(180deg, var(--color-accent-glass), transparent);
        display: none;
    }
}