@use '@/assets/styles/_mixins.scss' as *;

@keyframes show-bar {
    0% {
        left: -2rem;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.container {
    position: fixed;
    z-index: 90;
    left: -2rem;
    top: 0;
    height: 100vh;
    width: 10rem;
    background-color: var(--color-surface-primary);
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    animation: show-bar 0.2s forwards;
    border-right: 1px solid var(--color-stroke-primary);
    
    .grid {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        background-color: var(--color-surface-glass-secondary);
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: 20;
        position: relative;

    }
    .el {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #7384EC;
        background: linear-gradient(180deg, var(--color-accent-glass), transparent);
        display: none;
    }
}

.container.compact {
    width: 2rem;

    .sections {
        display: flex;
        flex-flow: column nowrap;

        .section {
            display: inline-flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            gap: 0em;
            width: 2rem;
            height: 2rem;
            transition: background-color var(--transition);
            @include cursor(pointer);

            .svg {
                width: 0.7em;
                height: 0.7em;
                fill: var(--color-icon-primary);
                transition: fill var(--transition);
            }
            .text {
                font-size: 0.25em;
                display: none;
            }
            &:hover {
                background-color: var(--color-surface-glass);

                .svg {
                    fill: var(--color-icon-active);
                }
            }
        }
    }
}

// Full view
.container.full .grid {
    .sections {
        display: flex;
        flex-flow: column nowrap;
        padding: 0.4rem 0.6rem;
        font-size: 0.6em;
        overflow: hidden;

        .section {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.4em;
            height: 1.9em;
            overflow: hidden;

            .icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .svg {
                    width: 1em;
                    height: 1em;
                    fill: var(--color-icon-primary);
                }
            }
            .text {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                font-size: 0.62em;

                .capture {
                    @include text-ellipsis();
                }
            }
        }
    }
}