@use '@/assets/styles/_mixins.scss' as *;

@keyframes show-bar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container {
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    height: 100vh;
    width: 3rem;
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    opacity: 1;
    border-right: 1px solid var(--color-stroke-primary);
    background-color: var(--color-leader);
    
    .grid {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        height: 100%;
        z-index: 20;
        position: relative;
    }
}

// Sections
.sections {
    display: flex;
    flex-flow: column nowrap;
    gap: 0em;
    border-bottom: 1px solid var(--color-stroke-primary);

    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.2em;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        transition: background-color var(--transition);
        @include cursor(pointer);

        .svg {
            width: 0.7em;
            height: 0.7em;
            fill: var(--color-icon-primary);
            transition: fill var(--transition);
        }
        .capture {
            font-size: 0.25em;
            color: var(--color-icon-primary);
            @include text-ellipsis();
            text-align: center;
            transition: color var(--transition);
        }
        &:hover {
            background-color: var(--color-surface-primary);
        }
        &.active {
            .svg {
                fill: var(--color-text-primary);
            }
            .capture {
                color: var(--color-text-primary);
            }
        }
    }
}

// Organizations
.organizations {
    display: flex;
    flex-flow: column nowrap;
    gap: 0em;
    padding: 0.4rem 0;

    // Быстрый доступ к организации
    .item {
        display: flex;
        width: 3rem;
        height: 2.4rem;
        align-items: center;
        justify-content: center;
        position: relative;

        @keyframes periodic-shake {
            0%, 97%, 100% {
                transform: rotate(0deg);
            }
            98% {
                transform: rotate(5deg);
            }
            99% {
                transform: rotate(-5deg);
            }
        }


        .icon {
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 0.3rem;
            border: 1px solid var(--color-stroke-secondary);
            background: var(--color-surface-primary);
            background-size: cover;
            background-position: center;
            @include cursor(pointer);
            transition: transform var(--transition);
            position: relative;
            
            // Устанавливаем точку трансформации в центр для плавного вращения
            transform-origin: center center;

            .news {
                position: absolute;
                z-index: 10;
                font-size: 0.4em;
                background-color: var(--color-accent);
                padding: 0.04em 0.3em;
                border-radius: 0.6em;
                display: inline-flex;
                align-items: center;
                top: -0.25em;
                left: -0.25em;
                color: var(--color-accent-text-primary);
            }

            &:hover {
                transform: scale(1.02);
            }
            
            &.shaking {
                animation: periodic-shake 8s ease-in-out infinite;
                
                &:hover {
                    // При hover можно остановить периодическую тряску
                    animation: none;
                    transform: scale(1.02);
                }
            }
        }

        .marker {
            position: absolute;
            z-index: 25;
            right: 0;
            top: 15%;
            height: 70%;
            width: 0.3rem;
            background-color: var(--color-accent);
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
            opacity: 0;
            transition: opacity var(--transition);
        }

        &.active {
            .marker {
                opacity: 1;
            }
        }
    }

    // Промежуточная полоса
    .inter {
        display: flex;
        justify-content: center;
        padding: .2em .3em;
        flex-flow: column nowrap;
        
        .line {
            display: flex;
            height: 1px;
            background-color: var(--color-stroke-secondary);
        }
    }

    // Добавление организации
    .add {
        display: flex;
        width: 3rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-flow: column nowrap;
        gap: 0.2em;
        @include cursor(pointer);

        .circle {
            width: 1.6rem;
            height: 1.6rem;
            background-color: var(--color-surface-primary);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color var(--transition);
        }
        .svg {
            width: 0.4em;
            height: 0.4em;
            fill: var(--color-icon-primary);
            transition: fill var(--transition), transform var(--transition);
        }
        .capture {
            font-size: 0.25em;
            color: var(--color-icon-primary);
            @include text-ellipsis();
            text-align: center;
            transition: color var(--transition);
        }
        &.active {
            .circle {
                background-color: var(--color-contrast);
            }
            .svg {
                fill: var(--color-leader) !important;
            }
        }
        &:hover {
            .svg {
                fill: var(--color-text-primary);
            }
        }
    }
}