.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    @keyframes show-focus {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .focus {
        max-width: 50%;
        max-height: 50%;
        display: flex;
        flex-flow: column nowrap;
        font-size: 1em;
        gap: 0.5em;
        opacity: 0;
        animation: show-focus 0.4s forwards;
        margin-bottom: 3rem;

        .code {
            font-size: 2em;
            font-weight: 600;
            text-align: center;
        }
        .capture {
            font-size: 0.4em;
            color: var(--color-text-description);
            line-height: 1.3;
            text-align: center;
        }
    }
}