@use '@/assets/styles/_mixins.scss' as *;

.container {
    width: 1em;
    height: 1em;
    border: 0.01em solid var(--color-stroke-secondary);
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    box-shadow: 0 0 0.6em var(--color-stroke-primary);
}

.rays {
    position: absolute;
    z-index: 1;
    bottom: -20%;
    left: 0px;
    
    width: 100%;
    height: 120%;
    display: block;

    path {
        stroke-width: 27;
        fill: none;
        stroke: #ffffff;
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        animation: radialFan 7s ease-out infinite;
        opacity: 0;
        transform-origin: 324px 332px;
        animation: none;
        stroke-dashoffset: 0;
        opacity: 1;
        filter: none;
        transform: none;
    }

    // Веер слева направо с плавными переходами
    .ray14 { 
        stroke: #ff4444;
    }
    .ray12 { 
        stroke: #ff6666;
    }
    .ray10 { 
        stroke: #8800ff;
    }
    .ray8 { 
        stroke: #88ff00;
    }
    .ray6 { 
        stroke: #00ffff;
    }
    .ray4 { 
        stroke: #ffff00;
    }
    .ray1 { 
        stroke: #f08b8b;
    }
    .ray5 { 
        stroke: #ff00ff;
    }
    .ray7 { 
        stroke: #ff8800;
    }
    .ray9 { 
        stroke: #0088ff;
    }
    .ray11 { 
        stroke: #ff0088;
    }
    .ray13 { 
        stroke: #cc66ff;
    }
    .ray15 { 
        stroke: #44ff44;
    }
}