@use '@/assets/styles/_mixins.scss' as *;

@keyframes show-container {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    gap: 0;
    opacity: 0;
    animation: show-container 0.4s forwards;
    position: relative;

    .panel {
        display: block;
        border-right: 1px solid var(--color-stroke-primary);
    }
    .content {
        display: flex;
        flex: 1;
    }
    .log { 
        display: block;
        width: 9rem;
        max-width: 9rem;
        background-color: var(--color-surface-secondary);
        border-left: 1px solid var(--color-stroke-primary);
    }
}

// Panel
.panel {
    .grid {
        display: flex;
        flex-flow: column nowrap;
        position: sticky;
        top: 1.27em;
        width: calc(10rem - 1px);
        overflow: hidden;
    }
    .label {
        height: 5rem;
        border-bottom: 1px solid var(--color-stroke-secondary);
        background-color: var(--color-surface-primary);
    }
    .info {
        font-size: 0.5em;
        padding: 0.6em 0.6em;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.2em;
        border-bottom: 1px solid var(--color-stroke-secondary);

        .name {
            font-size: 0.9em;
            font-weight: 600;
        }
        .description {
            font-size: 0.7em;
            color: var(--color-text-description);
        }
    }
    .sections {
        display: flex;
        flex-flow: column nowrap;
        font-size: 0.37em;

        .section {
            display: flex;
            flex-flow: row nowrap;
            height: 3.2em;
            gap: 0.7em;
            padding: 0.3em 0.9em;
            // border-top: 1px solid var(--color-stroke-primary);
            @include cursor(pointer);
            transition: background-color var(--transition);

            .icon {
                display: inline-flex;
                align-items: center;

                .svg {
                    width: 1.4em;
                    height: 1.4em;
                    fill: var(--color-icon-primary);
                }
            }
            .name {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            }
            &:hover {
                background-color: var(--color-surface-primary);
            }
        }
    }
    .widgets {
        display: flex;
        flex-flow: row wrap;
        font-size: 0.4em;
        gap: 0.8em;
        padding: 1em 1em;

        .widget {
            display: flex;
            width: calc(50% - 0.4em);
            height: 6em;
            border: 1px solid var(--color-stroke-secondary);
            border-radius: 0.4em;
            background: linear-gradient(135deg, var(--color-surface-primary), var(--color-surface-secondary));
            @include cursor(pointer);
        }
    }
}

// Content
.content {
    position: relative;

    .actions {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        min-height: 3em;
        font-size: 0.4em;
        flex-flow: row wrap;
        justify-content: end;
        align-items: center;
        padding: 1em 1em;
        gap: 1em;

        .label {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.2em;
            align-items: center;
            justify-content: center;

            .svg {
                width: 1.1em;
                height: 1.1em;
                fill: var(--color-accent);
            }
        }
        .action {
            border-radius: 2em;
            height: 3em;
            transition: transform var(--transition);
            background-color: var(--color-accent);
            color: var(--color-accent-text-primary);

            &:hover {
                transform: scale(1.03);
                border-color: var(--color-accent);
            }
        }
    }
}

// Log
.log.empty {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    flex-flow: column nowrap;
    gap: 0.3em;

    .icon {
        width: 2em;
        height: 2em;
        fill: var(--color-icon-primary);
    }
}