@use '@/assets/styles/_mixins.scss' as *;

@keyframes show-bar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container {
    position: fixed;
    z-index: 90;
    right: 0rem;
    top: 0;
    height: 100vh;
    width: 2rem;
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    opacity: 1;
    border-left: 1px solid var(--color-stroke-primary);
    background-color: var(--color-leader);
    
    .grid {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;

        .box {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            @include cursor(pointer);

            .svg {
                width: 0.65em;
                height: 0.65em;
                fill: var(--color-icon-primary);
                transition: fill var(--transition);
            }
            .img {
                width: 0.9em;
                height: 0.9em;
                border-radius: 0.2em;
            }
            &:hover {
                .svg {
                    fill: var(--color-text-primary);
                }
            }
            &.active {
                .svg {
                    fill: var(--color-text-primary);
                }
            }
        }
    }

    @media (max-width: 720px) {
        display: none;
    }
}