@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;

    .focus {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        max-width: 44rem;
        padding: 2rem;
        border-left: 1px solid var(--color-stroke-secondary);
        border-right: 1px solid var(--color-stroke-secondary);
    }
}