@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 0.5rem;

    .search {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.7em;
        font-size: 0.37em;

        .input {
            flex: 1;
        }
    }
    .cards {
        display: flex;
        font-size: 0.7em;
        flex-flow: row wrap;
        gap: 0.5em;
    }
}

// Worker Card
.card {
    display: flex;
    width: 12em;
    height: 8em;
    background-color: var(--color-surface-primary);
    border-radius: 0.3em;
    cursor: pointer;
    border: 1px solid var(--color-stroke-primary);
    gap: 0em;
    flex-flow: column nowrap;
    justify-content: end;
    position: relative;
    transition: padding-bottom var(--transition);
    overflow: hidden;

    .tags {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.5em;
        gap: 0.5em;
        padding: 0em 1em;

        .tag {
            display: inline-flex;
            white-space: nowrap;
            height: 2em;
            padding: 0 0.6em;
            border-bottom-left-radius: 0.4em;
            border-bottom-right-radius: 0.4em;
            align-items: center;
            background-color: var(--color-surface-secondary);
            border: 0.02em solid var(--color-stroke-primary);

            &.role {
                background-color: var(--color-text-hint);
                color: #eee;
            }
            &.id {
                color: var(--color-text-description);
            }
        }
    }

    .info {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        gap: 0.1em;
        justify-content: end;
        padding: 0.2em 0.5em;
        
        .name {
            font-size: 0.7em;
            font-weight: 600;
            letter-spacing: 0.03em;
            line-height: 1.2;
            @include lines-ellipsis(2);
        }
        .description {
            font-size: 0.45em;
            color: var(--color-text-description);
            line-height: 1.2;
            @include lines-ellipsis(2);
        }
    }

    .stats {
        display: flex;
        flex-flow: row wrap;
        gap: 0.3em;
        font-size: 0.8em;
        padding: 0.5em;

        .stat {
            display: inline-flex;
            flex-flow: column nowrap;
            justify-content: end;
            flex: 1;
            height: 3em;
            gap: 0.2em;
            border-radius: 0.4em;
            padding: 0.5em;
            border: 1px solid var(--color-stroke-primary);
            background-color: var(--color-surface-secondary);
            overflow: hidden;

            .value {
                font-size: 0.8em;
                font-weight: 600;
                letter-spacing: 0.02em;
                @include text-ellipsis();
            }
            .title {
                font-size: 0.6em;
                @include text-ellipsis();
            }
        }
    }

    &:hover {
        padding-bottom: 0.5em;
    }
}