@use '@/assets/styles/_mixins.scss' as *;

.container {
    display: flex;
    font-size: 1em;
    padding: 2em;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-flow: column nowrap;

    .icon {
        width: 3em;
        height: 3em;
        fill: var(--color-text-description);
    }
    .capture {
        font-size: 0.35em;
        color: var(--color-text-description);
    }
}